[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
atomicwrites = "*"
coverage = "*"
pytest-cov = "*"

[packages]

[requires]
python_version = "3.7"
